<header>
<% if session[:player_one] %>
  <% if @winner == @player %>
    <h1>You won!</h1>
  <% elsif @winner == @opponent %>
    <h1>You lost!</h1>
  <% else %>
    <h1>It's a draw.</h1>
  <% end %>
<% elsif session[:player_two] %>
  <% if @winner == @player %>
    <h1>You won!</h1>
  <% elsif @winner == @opponent %>
    <h1>You lost!</h1>
  <% else %>
    <h1>It's a draw.</h1>
  <% end %>
<% end %>

</header>

<section>
<% if session[:player_one] %>
  <h2>You chose: <%= @p1_weapon %></h2>
  <h2><%= @opponent.name %> chose: <%= @opponents_weapon %></h2>
<% elsif session[:player_two] %>
  <h2>You chose: <%= @p2_weapon %></h2>
  <h2><%= @opponent.name %> chose: <%= @opponents_weapon %></h2>
<% end %>

<a href="/game">Click to play again</a>
</section>

<footer>
<a href="https://github.com/tomcoakes/rps-challenge">Check out my source code on GitHub!</a>
</footer>